// ==============================================
// PawFriends - Input Styles
// ==============================================

@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  &--full-width {
    width: 100%;
  }

  // Label
  &__label {
    @include font-body;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    color: $color-gray-dark;
  }

  // Input container (for icon positioning)
  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  // The input itself
  &__input {
    @include input-base;

    .input-wrapper--has-icon-left & {
      padding-left: $spacing-10;
    }

    .input-wrapper--has-icon-right & {
      padding-right: $spacing-10;
    }
  }

  // Icon
  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray;
    pointer-events: none;
    transition: color $transition-fast;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }

    &--left {
      left: $spacing-3;
    }

    &--right {
      right: $spacing-3;
    }
  }

  // Focus state - change icon color
  &__input:focus ~ &__icon,
  &__input:focus + &__icon {
    color: $color-orange;
  }

  // Error state
  &--error {
    .input-wrapper__input {
      border-color: $color-error;

      &:focus {
        box-shadow: 0 0 0 4px rgba($color-error, 0.1);
      }
    }

    .input-wrapper__icon {
      color: $color-error;
    }
  }

  // Error message
  &__error {
    @include text-sm;
    color: $color-error;
    display: flex;
    align-items: center;
    gap: $spacing-1;

    &::before {
      content: '!';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1rem;
      height: 1rem;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      background: $color-error;
      color: $color-white;
      border-radius: 50%;
    }
  }

  // Hint text
  &__hint {
    @include text-sm;
    color: $color-gray;
  }
}
